<section class="block bg-white dark:bg-gray-900">
  <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-6 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
        <h3 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Blocks</h3>
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Block
              </th>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Age
              </th>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Size
              </th>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Recipient
              </th>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Base Fee
              </th>
            </tr>
          </thead>
          <%= turbo_stream_from "block", channel: BlockChannel, class: "sr-only" %>
          <%= render partial: "blocks/table", locals: { blocks: @blocks } %>
        </table>
      </div>
  </div>
</section>