<li class="transaction py-3 sm:py-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center min-w-0">
      <%# <img class="flex-shrink-0 w-10 h-10" src="https://flowbite-admin-dashboard.vercel.app/images/products/iphone.png" alt="imac image"> %>
      <svg class="flex-shrink-0 w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.2 9.8a3.4 3.4 0 0 0-4.8 0L5 13.2A3.4 3.4 0 0 0 9.8 18l.3-.3m-.3-4.5a3.4 3.4 0 0 0 4.8 0L18 9.8A3.4 3.4 0 0 0 13.2 5l-1 1"/>
      </svg>
      <div class="ml-3">
        <p class="font-medium text-gray-900 truncate dark:text-white">
          <%= link_to transaction.hash[..10] + "...", show_tx_path(hash: transaction.hash) %>
        </p>
        <div class="flex items-center flex-1 text-sm text-gray-400">
          9 secs ago
        </div>
      </div>
    </div>
    <div class="flex items-center min-w-0">
      <div class="ml-3">
        <p class="font-medium text-gray-900 truncate dark:text-white">
          Fee Recipient 0x50b73CA1...09C8051c5
        </p>
        <div class="flex items-center flex-1 text-sm text-gray-400">
          274 txns in 12 secs
        </div>
      </div>
    </div>
    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
      0.24081 Eth
    </div>
  </div>
  </li>