<div>
  <h1 class="font-bold text-4xl">Transactions#index</h1>
  <% if @transactions %>
    <div id="transactions">
      <% @transactions.each do |transaction| %>
        <% render transaction%>
      <% end %>
    </div>
  <% else %>
    <p>Transactions Not Found</p>
  <% end %>
</div>
