<div>
  <% if @transaction %>
    <h1 class="font-bold text-4xl">Transaction</h1>
    <%= render @transaction %>
  <% else %>
    <h1 class="font-bold text-4xl">Transaction: Not found</h1>
  <% end %>
</div>
